%title= "Cinemascope"

%div
  %h1 Tell your friends about movies you watched
  %div Hit http://movies.alagu.net/movie/Your_Favourite_Movie_Name (exact from wikipedia) and hit on watched it. We will tell your friends :)